Jinja2
Flask
Flask-WTF
WTForms
Flask-Login
Flask-Migrate
Flask-Script
Flask-JWT
Flask-SQLAlchemy
Flask-Mail
flask-debugtoolbar
python-dateutil
python-editor
Werkzeug
PyJWT
psycopg2-binary
gunicorn
alembic
flake8
click
email_validator